@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Riode - Ultimate eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Riode - eCommerce Template">
    <meta name="author" content="D-THEMES">

    <link rel="icon" type="image/png" href="~/assets/images/icons/favicon.png">

    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700,800'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>



    <link rel="stylesheet" type="text/css" href="~/assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/animate/animate.min.css">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/owl-carousel/owl.carousel.min.css">
    <link href="~/libs/toastr.js/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/libs/tab-control/tab-control.css">
    <!-- Main CSS File -->
    @RenderSection("css", required: false)
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/demo23.min.css">

</head>

<body class="home">

    <div class="page-wrapper">
        @*<h1 class="d-none">Riode - Responsive eCommerce HTML Template</h1>*@
        @await Component.InvokeAsync("Header")

        <main class="main">
            @RenderBody();
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <a asp-action="index" asp-controller="home" class="logo-footer">
                                <img src="~/assets/images/demos/demo23/logo-footer.png" alt="logo-footer" width="154"
                                     height="43" />
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <div class="widget widget-newsletter form-wrapper form-wrapper-inline">
                                <div class="newsletter-info mx-auto mr-lg-2 ml-lg-4">
                                    <h4 class="widget-title">Abunə olun</h4>
                                    <p class="mb-0">Ən son təkliflərdən xəbərdar olmaq üçün abunə olun</p>
                                </div>
                                <form method="post" id="subscribeForm" class="input-wrapper input-wrapper-inline">
                                    <input type="email" class="form-control" name="Email" id="email"
                                           placeholder="E-mail adresinizi daxil edin" required />
                                    <button id="btnSubs" class="btn btn-primary btn-rounded btn-md ml-2" type="submit">
                                        Abunə olun<i class="d-icon-arrow-right"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-middle">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget-info">
                                <h4 class="widget-title">Bizimlə əlaqə</h4>
                                <ul class="widget-body">
                                    <li>
                                        <label>Əlaqə Nömrəsi:</label>
                                        <a href="~/assets/tel:#">+994507779990</a>
                                    </li>
                                    <li>
                                        <label>Email:</label>
                                        <a href="~/assets/mailto:mail@riode.com">testmail@mail.com</a>
                                    </li>
                                    <li>
                                        <label>Address:</label>
                                        <a href="~/assets/#">Bakı,Azərbaycan </a>
                                    </li>
                                    <li>
                                        <label>İş saatları:</label>
                                    </li>
                                    <li>
                                        <a href="~/assets/#">Bazar Ertəsi - Şənbə / 9:00 - 18:00</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget ml-lg-4">
                                <h4 class="widget-title">Haqqımızda</h4>
                                <ul class="widget-body">
                                    <li>
                                        <a asp-action="about" asp-controller="home">Haqqımızda</a>
                                    </li>
                                    <li>
                                        <a href="~/assets/#">Sifariş tarixçəsi</a>
                                    </li>
                                    <li>
                                        <a href="~/assets/#">Geri Qaytarılmalar</a>
                                    </li>
                                    <li>
                                        <a href="~/assets/#">Müştəri məmnuniyyəti</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget ml-lg-4">
                                <h4 class="widget-title">Mənim Profilim</h4>
                                <ul class="widget-body">
                                    <li>
                                        <a asp-action="signin" asp-controller="account">Daxil ol</a>
                                    </li>
                                    <li>
                                        <a asp-action="Basket" asp-controller="shop">Səbət</a>
                                    </li>
                                    <li>
                                        <a asp-action="wishlist" asp-controller="shop" >Istəklər</a>
                                    </li> 
                                  
                                    <li>
                                        <a href="#">Kömək Lazımdır?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget-instagram">
                                <h4 class="widget-title">Instagram</h4>
                                <figure class="widget-body row">
                                    <div class="col-3">
                                        <img src="~/assets/images/instagram/01.jpg" alt="instagram 1" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="~/assets/images/instagram/02.jpg" alt="instagram 2" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="~/assets/images/instagram/03.jpg" alt="instagram 3" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="~/assets/images/instagram/04.jpg" alt="instagram 4" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="~/assets/images/instagram/05.jpg" alt="instagram 5" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="~/assets/images/instagram/06.jpg" alt="instagram 6" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="~/assets/images/instagram/07.jpg" alt="instagram 7" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="~/assets/images/instagram/08.jpg" alt="instagram 8" width="64" height="64" />
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-left">
                        <figure class="payment">
                            <img src="~/assets/images/payment.png" alt="payment" width="159" height="29" />
                        </figure>
                    </div>
                    <div class="footer-center">
                        <p class="copyright">EcoParts eCommerce &copy; 2022. Bütun hüquqlar qorunur</p>
                    </div>
                    <div class="footer-right">
                        <div class="social-links">
                            <a href="~/assets/#" class="social-link social-facebook fab fa-facebook-f"></a>
                            <a href="~/assets/#" class="social-link social-twitter fab fa-twitter"></a>
                            <a href="~/assets/#" class="social-link social-linkedin fab fa-linkedin-in"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="sticky-footer sticky-content fix-bottom">
        <a asp-action="index" asp-controller="home" class="sticky-link active">
            <i class="d-icon-home"></i>
            <span>Ana Səhifə</span>
        </a>
        <a asp-action="Index" asp-controller="Shop" class="sticky-link">
            <i class="d-icon-volume"></i>
            <span>Bütün Məhsullar</span>
        </a>
        <a asp-controller="Shop" asp-action="Wishlist" class="sticky-link">
            <i class="d-icon-heart"></i>
            <span>İstəklər</span>
        </a>
        <a asp-controller="account" asp-action="profile" class="sticky-link">
            <i class="d-icon-user"></i>
            <span>Profil</span>
        </a>
        <div class="header-search hs-toggle dir-up">
            <a href="#" class="search-toggle sticky-link">
                <i class="d-icon-search"></i>
                <span>Axtar...</span>
            </a>
            <form method="get" asp-controller="Shop" asp-action="Search" class="input-wrapper">
                <input type="text" class="form-control" id="search" name="query" placeholder="Axtardığınız məhsulun kodunu daxil edin ..." autocomplete="off"
                       required />
                <button class="btn btn-search" type="submit">
                    <i class="d-icon-search"></i>
                </button>
            </form>
        </div>
    </div>
    <a id="scroll-top" href="#" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>

    @await Component.InvokeAsync("MobileMenu")
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
    <script src="~/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="~/assets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/jquery.plugin/jquery.plugin.min.js"></script>
    <script src="~/assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/assets/js/main.min.js"></script>
    <script src="~/admin/files/assets/js/customize.js"></script>
    <script src="~/libs/tab-control/tab-control.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        $(document).ready(function () {
            function showCardCount() {
                let items = ($.cookie('cards') || '').split(',');
                $('span.cart-count').html(items.length - 1);

            }
            showCardCount();
            function showCartPrice() {
                let items = ($.cookie('prices') || '').split(',');
                console.log(items);
                let totalPrice = 0;
                for (var i = 1; i < items.length; i++) {
                    totalPrice = totalPrice + parseFloat(items[i]);
                }
                $('span.cart-price').html(totalPrice + "₼");
            }
            showCartPrice();
            function showWishlistCount() {
                let items = ($.cookie('cardsForWishlist') || '').split(',');
                $('.wishlist-count').html(items.length - 1);

            }
            showWishlistCount();
        });
        let btn = document.getElementById('btnSubs');
        $(document).ready(function () {
            $('#subscribeForm').submit(function (e) {
                e.preventDefault();
                let formData = new FormData(e.currentTarget);
                btn.disabled = true;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Subscribe", "Home")",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.error == true) {
                            e.currentTarget.reset();
                            btn.disabled = false;
                            toastr.error(response.message, 'Texniki xeta bash verdi!');
                            return;
                        }
                        e.currentTarget.reset();
                        btn.disabled = false;
                        toastr.success(response.message, 'Subscribe confirmation sended to your mail');
                    },
                    error: function (response) {
                        toastr.error(response.message, "Texniki Xeta!");
                        btn.disabled = false;
                    }

                });
            });

        });
    </script>
    @RenderSection("js", required: false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/6306afae37898912e964fd3b/1gb91sh0v';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>


</html>