<nav class="main-nav ml-0">
    <ul class="menu">
        <li class="active">
            <a asp-action="index" asp-controller="home">Əsas Səhifə</a>
        </li>
        <li>
            <a asp-controller="shop" asp-action="index">Bütün Məhsullar</a>
        </li>
        <li>
            <a asp-action="about" asp-controller="home">Haqqımızda </a>
        </li>
    
    </ul>
</nav>