    <section class="customer-section pb-10 appear-animate">
                    <div class="container mt-10">
                        <div class="row align-items-center">
                            <div class="col-md-7 mb-4">
                                <figure>
                                    <img src="~/assets/images/istockphoto-478107962-170667a.jpg" alt="Happy Customer" width="580"
                                        height="507" class="banner-radius" style="background-color: #BDD0DE;" />
                                </figure>
                            </div>
                            <div class="col-md-5 mb-4">
                                <h5 class="section-subtitle lh-2 ls-md font-weight-normal">Sifariş</h5>
                                <h3 class="section-title lh-1 font-weight-bold">Keyfiyyətli məhsulların <br>Satışı ,  <br>İstəyə görə xaricdən sifarişi<br> qəbul olunur
                                    </h3>
                                <p class="section-desc text-grey">
                                    Çoxlu sayda müştəri ilə böyüməyə və
                                    inkişaf etməyə davam edirik . Müştəri məmnuniyyəti bizim üçün önəmlidir <br>
                                    Məhsulları görmək üçün klikləyin
                                </p>
                                <a asp-action="index" asp-controller="shop" class="btn btn-dark btn-link btn-underline ls-m">Məhsullara baxın<i
                                        class="d-icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Customer Section -->

                <section class="store-section pb-10 appear-animate">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 order-md-first mb-4">
                                <h3 class="section-title lh-1 font-weight-bold">Sürətli Çatdırılma</h3>
                                <p class="section-desc text-grey">
                                    Sifariş olunan məhsulların <br>
                                    Sürətli şəkildə çatdırılması <br>
                                    
                                </p>
                                <a asp-action="index" asp-controller="shop" class="btn btn-dark btn-link btn-underline ls-m">
                                    Məhsullara baxın<i class="d-icon-arrow-right"></i>
                                </a>
                            </div>
                            <div class="col-md-6 mb-4">
                                <figure>
                                    <img src="~/assets/images/istockphoto-488844774-612x612.jpg" alt="Our Store" width="580" height="507"
                                        class="banner-radius" style="background-color: #DEE6E8;" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Store-section -->

                <section class="brand-section grey-section pt-10 pb-10 appear-animate">
                    <div class="container mt-8 mb-10">
                        <h3 class="section-title lh-1 font-weight-bold text-center mb-5">Populyar Məhsullar</h3>
                        <div class="owl-carousel owl-theme row cols-xl-6 cols-lg-5 cols-md-4 cols-sm-3 cols-2"
                            data-owl-options="{
                            'nav': false,
                            'dots': false,
                            'autoplay': true,
                            'margin': 20,
                            'responsive': {
                                '0': {
                                    'items': 2
                                },
                                '576': {
                                    'items': 3
                                },
                                '768': {
                                    'items': 4
                                },
                                '992': {
                                    'items': 5
                                },
                                '1200': {
                                    'items': 6
                                }
                            }
                        }">
                            <figure class="brand-wrap bg-white banner-radius">
                                <img src="~/assets/images/frfrf.jpg" alt="Brand" width="180" height="100" />
                            </figure>
                            <figure class="brand-wrap bg-white banner-radius">
                                <img src="~/assets/images/babin.jpg" alt="Brand" width="180" height="100" />
                            </figure>
                            <figure class="brand-wrap bg-white banner-radius">
                                <img src="~/assets/images/almaa.jpg" alt="Brand" width="180" height="100" />
                            </figure>
                            <figure class="brand-wrap bg-white banner-radius">
                                <img src="~/assets/images/linq.jpg" alt="Brand" width="180" height="100" />
                            </figure>
                            <figure class="brand-wrap bg-white banner-radius">
                                <img src="~/assets/images/sveca.jpg" alt="Brand" width="180" height="100" />
                            </figure>
                            <figure class="brand-wrap bg-white banner-radius">
                                <img src="~/assets/images/salnik.jpg" alt="Brand" width="180" height="100" />
                            </figure>
                        </div>
                    </div>
                </section>