<div class="page-content">
    <section class="intro-slider animation-slider owl-carousel owl-theme owl-nav-bg owl-dot-inner row cols-1 gutter-no"
             data-owl-options="{
                    'items': 1,
                    'loop': false,
                    'responsive': {
                        '992': {
                            'dots': false,
                            'nav': true
                        }
                    },
                    'animateIn': 'fadeIn',
                    'animateOut': 'fadeOut'
                }">
        <div class="intro-slide1 banner banner-fixed" style="background-color: #f0f0f0">
            <figure>
                <img src="~/assets/images/bannnnner.jpg" style="object-fit:contain" alt="banner" width="1503" height="369" !important />
            </figure>
            <div class="container">
                <div class="banner-content ml-lg-2 y-50">
                    <div class="slide-animate"
                         data-animation-options="{'name': 'flipInY', 'duration': '.8s'}">
                        <h4 style="color:white" class="banner-subtitle text-uppercase">Onlayn Alış-Veriş</h4>
                        <h3 style="color:white"  class="banner-title ls-m text-dark font-weight-bolder">
                            <span class="font-weight-bold text-primary ls-s">EcoParts Onlayn Market</span><br />
                            <br />
                        </h3>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-slide2 banner banner-fixed" style="background-color: #ececf3">
            <figure>
                <img src="~/assets/images/bannerr.jpg" style="object-fit:contain" alt="banner" width="1903" height="469" />
            </figure>
            <div class="container">
                <div class="banner-content ml-lg-2 y-50">
                    <div class="slide-animate"
                         data-animation-options="{'name': 'blurIn', 'duration': '.8s'}">
                        <h4 style="color: #d23332" class="banner-subtitle text-uppercase">Onlayn Alış-Veriş</h4>
                        <h3 style="color:white" class="banner-title ls-m text-dark font-weight-bolder">
                            <span class="font-weight-bold text-primary ls-s">EcoParts Onlayn Market</span><br />
                            <br />
                        </h3>
                        <a asp-action="index" asp-controller="shop" class="btn btn-dark btn-outline btn-rounded mb-1">
                            Məhsullara keçid<i class="d-icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <section class="product-wrapper container mt-10 pt-6">
        <h2 class="title title-simple text-left with-link">
            Populyar Məhsullar <a asp-action="index" asp-controller="shop">
                Bütün məhsullar<i class="d-icon-arrow-right"></i>
            </a>
        </h2>
        <div class="product-grid row gutter-sm">
            <div class="height-x1 appear-animate">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="#">
                            <img src="~/assets/images/yanacaqnasosu.jpg" alt="product" style="width: 234px !important; height: 259px !important; object-fit: contain; ">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-name">
                            <a href="#">Yanacaq Nasosu</a>
                        </h3>
                        <div class="product-price">
                            <span class="price"></span>
                        </div>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:100%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="#" class="rating-reviews">( 44 )</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-x1 appear-animate">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="#">
                            <img src="~/assets/images/yagfilteri.jpg" alt="product" style="width: 234px !important; height: 259px !important; object-fit: contain; ">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-name">
                            <a href="#">Yağ Filteri</a>
                        </h3>
                        <div class="product-price">
                            <span class="price"></span>
                        </div>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:100%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="#" class="rating-reviews">( 44 )</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-x1 appear-animate">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="#">
                            <img src="~/assets/images/babin.jpg" alt="product" style="width: 234px !important; height: 259px !important; object-fit: contain; ">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-name">
                            <a href="#">Babin</a>
                        </h3>
                        <div class="product-price">
                            <span class="price"></span>
                        </div>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:100%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="#" class="rating-reviews">( 44 )</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-x1 appear-animate">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="#">
                            <img src="~/assets/images/sveca.jpg" alt="product" style="width:234px !important ; height:259px !important; object-fit:contain; ">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-name">
                            <a href="#">Sveça</a>
                        </h3>
                        <div class="product-price">
                            <span class="price"></span>
                        </div>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:100%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="" class="rating-reviews">( 75 )</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-x1 appear-animate">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="#">
                            <img src="~/assets/images/linq.jpg" alt="product" width="234"
                                 height="259" style="width: 234px !important; height: 259px !important; object-fit: contain; ">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-name">
                            <a href="#">Linqlər</a>
                        </h3>
                        <div class="product-price">
                            <span class="price"></span>
                        </div>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:100%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="#" class="rating-reviews">( 56 )</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-x1 appear-animate">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="#">
                            <img src="~/assets/images/frfrf.jpg" alt="product" style="width:234px !important ; height:259px !important; object-fit:contain;">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-name">
                            <a href="#">Nakladka</a>
                        </h3>
                        <div class="product-price">
                            <span class="price"></span>
                        </div>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:100%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="#" class="rating-reviews">( 88 )</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-x1 appear-animate">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="#">
                            <img src="~/assets/images/salnik.jpg" alt="product" style="width: 234px !important; height: 259px !important; object-fit: contain; ">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-name">
                            <a href="#">Salniklər</a>
                        </h3>
                        <div class="product-price">
                            <span class="price"></span>
                        </div>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:100%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="#" class="rating-reviews">( 63 )</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-x1 appear-animate">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="#">
                            <img src="~/assets/images/almaa.jpg" alt="product" style="width: 234px !important; height: 259px !important; object-fit: contain; ">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-name">
                            <a href="#">Almacıq</a>
                        </h3>
                        <div class="product-price">
                            <span class="price"></span>
                        </div>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:100%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="#" class="rating-reviews">( 122 )</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-x1 appear-animate">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="#">
                            <img src="~/assets/images/amortizator.jpg" alt="product" style="width: 234px !important; height: 259px !important; object-fit: contain; ">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-name">
                            <a href="#">Amortizator</a>
                        </h3>
                        <div class="product-price">
                            <span class="price"></span>
                        </div>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:100%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="#" class="rating-reviews">( 28 )</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-x1 appear-animate">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="#">
                            <img src="~/assets/images/motorremeni.jpg" alt="product" style="width: 234px !important; height: 259px !important; object-fit: contain; ">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-name">
                            <a href="#">Motor Remeni</a>
                        </h3>
                        <div class="product-price">
                            <span class="price"></span>
                        </div>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:100%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="#" class="rating-reviews">( 94 )</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
</div>