@model Auto_Part_WebUI.Models.Entities.PopularCar

@{
    ViewData["Title"] = "Create";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Xadavoy Maşın</h4>
                    @*<span>
                            lorem ipsum dolor sit amet, consectetur adipisicing
                            elit
                        </span>*@
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-action="index" asp-controller="dashboard"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Xadavoy Maşın</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="card p-3">
        <div class="card-block">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Ad</label>
                    <input asp-for="Name" />
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="ProductIds">Məhsullar</label>
                    <select asp-for="ProductIds" multiple class="js-example-basic-multiple col-sm-12 select2" asp-items="ViewBag.ProductId">
                    </select>
                    <span asp-validation-for="ProductIds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-info btn-icon"><i class="icofont-arrow-left"></i></a> |
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section css{ 
    <link href="~/admin/files/bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
}
@section js{ 
<script src="~/admin/files/bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<script>
    let options = document.querySelectorAll('.select2-results__options .select2-results__option[aria-selected="false"]');
    console.log(options);
</script>
}