@model List<PartCode>
@foreach (var code in Model)
{
    <tr class="code-checkbox">
        <td class="table-row-select">
            <input id="partCodeNameSearch" type="checkbox" data-code1-id="@code.Id" />
        </td>
        <th>
            <p id="code-@code.Id">@code.Name</p>

        </th>
    </tr>
}
    <script>

        $('input[data-code1-id]').change(function (e) {
            if (e.currentTarget.checked) {
                let data = $(e.currentTarget).data();
                let codeId = data.code1Id;
                let inputs = document.querySelectorAll('.partCodes');
                console.log(inputs)
                for (var i = 0; i < inputs.length; i++) {
                    let data = $(inputs[i]).data();
                    if (data.codeId == codeId) {
                        inputs[i].checked = true;
                    }
                }
            }
            else if (!e.currentTarget.checked) {
                let data = $(e.currentTarget).data();
                let codeId = data.code1Id;
                let inputs = document.querySelectorAll('.partCodes');
                console.log(inputs)
                for (var i = 0; i < inputs.length; i++) {
                    let data = $(inputs[i]).data();
                    if (data.codeId == codeId) {
                        inputs[i].checked = false;
                    }
                }
            }
        });
    </script>


